SetOutputFilter DEFLATE

RewriteEngine On
RewriteCond %{HTTP_HOST} !^spotifast.github.io$
RewriteRule ^(.*)$ https://spotifast.github.io/$1 [R=301,L]

Redirect 301 / https://spotifast.github.io/
Redirect 301 / https://spotifast.github.io/

ErrorDocument 404 /404.html
